.create-user__container {
    padding-top: 114px;
    padding-bottom: 226px;
}

.create-user__form {
    max-width: 580px;
    width: 100%;
    margin: auto;
}

.create-user__fieldset {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.create-user__legend {
    /* color: var(--COLOR-BLUE); */
    margin: 0 auto 32px auto;
    /* font-size: 30px;
    font-weight: 500; */
}

.wrap-field {
    display: flex;
    gap: 24px;
}

.wrap-field__label {
    display: block;
    max-width: 140px;
    width: 100%;
}

.wrap-field__input,
.wrap-field__select {
    /* max-width: 416px; */
    width: 100%;
}

.wrap-field__select {
    width: 100%;
}

.create-user__button {
    color: var(--COLOR-BLUE);
}