.header__container {
    padding-top: 44px;
    padding-bottom: 44px;
}

.nav__items {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    text-align: center;
}

input.nav__link {
    text-align: center;
    background-color: transparent;
    color: var(--COLOR-BLUE_DARK);
    padding: 0px;
    border: none;
}

.nav__item_active {
    color: var(--COLOR-BLUE);
}

.nav__item:hover,
input.nav__link:hover {
    color: var(--COLOR-BLUE);
}

.wrap__nav {
    display: flex;
    gap: 44px;
}